<!DOCTYPE html>
<html>
<head>
  <title>RailsAnadea</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="header clearfix">
      <%= render 'flash' %>

      <div class="pull-left">
        <%if current_user.present? %>
          <span>User: <%=current_user.name%><span>
        <%end%>

      </div>

      <div class="pull-right">
        <% if user_signed_in? %>

          <%= link_to 'Log out', destroy_user_session_path, :method=>:delete %>
        <% else %>
          <%= link_to 'Log in', new_user_session_path %>
        <%end%>
      </div>
  </div>
  <div class="page-content">
    <%= yield %>
  </div>
  <%= render 'footer' %>
</body>
</html>
