
document.querySelector('textarea[name*=sub_article]').value = "";
// debugger;

var elemComments = document.querySelector('#comments');

var elemArticle = document.createElement('article');
var contentComment = document.createElement('p');
contentComment.textContent = "<%= @sub_article.content%>";

// elemArticle.textContent = "dsfdsfs";
var headerCommentUser = document.createElement('span');
var headerCommentDate = document.createElement('span');
headerCommentUser.className += 'label label-default';
headerCommentUser.textContent = "User: <%= @sub_article.user.name%>";
headerCommentDate.className += 'label label-default pull-right';
headerCommentDate.textContent = "Date: <%= @sub_article.created_at.strftime('%d-%m-%y %H:%M')%>"; 
elemArticle.appendChild(headerCommentUser);
elemArticle.appendChild(headerCommentDate);
// contentComment.textContent("Text");
// var content = document.createTextNode(" Date: <%= @sub_article.created_at %>  User:<%= @sub_article.user.name%> ");
// elemArticle.textContent("dsfdsfs");
elemArticle.appendChild(contentComment);
elemComments.appendChild(elemArticle);



// <article>
//         <h1>Apple</h1>
//         <p>The <b>apple</b> is the pomaceous fruit of the apple tree...</p>
//         ...
// </article>

// var txt = document.createTextNode('Test');
// element.appendChild(txt);
